.env
.env.*
!.env.example
__pycache__/
*.pyc
node_modules/
dist/
build/
.DS_Store
.vscode/
.idea/
venv/
coverage/
.pytest_cache/
*.md

!README.md

backend/.backup/
backend/data/
backend/docs/

# Ignore zip files
*.zip

.lock
